<h2 data-testid="main-header">Projects</h2>
<div>
  <p>
    You can find my full list of projects on my
    <a href="https://github.com/Joehl1103">GitHub account</a>.
  </p>
  <div>
    <p>Here are some highlights:</p>
    <h3>
      <a href="https://fullstackopen.com/en/">Full Stack Open Projects</a>
    </h3>
    <ul>
      <project-component
        data-title="Patientor"
        data-description="A medical management application"
        data-stack="React, Material UI, TS, Node, Express"
        data-codeUrl="https://github.com/Joehl1103/fso-patientor-typescript"
        data-demoUrl="https://fso-patientor-typescript.vercel.app/"
      ></project-component>
      <project-component
        data-title="Redux Blog List Application"
        data-description="Full-stack blog catalog with authentication, CRUD workflows, and a complete testing pyramid."
        data-stack="React, Redux, React Router, Tailwind CSS, JWT, Express, MongoDB, Playwright"
        data-codeUrl="https://github.com/Joehl1103/fso-blogs-redux"
        data-demoUrl="https://fso-blogs-redux.vercel.app/login"
      ></project-component>
      <project-component
        data-title="GraphQL Book Management Application"
        data-description="Book management with GraphQL API and MongoDB"
        data-stack="React, Redux, React Router, Tailwind CSS, JWT, Express, MongoDB, Playwright"
        data-codeUrl="https://github.com/Joehl1103/fso-library-graphql"
        data-demoUrl="https://fso-library-graphql.vercel.app/"
      ></project-component>
    </ul>
    <h3>Personal Projects</h3>
    <ul>
      <project-component
        data-title="THIS WEBSITE!"
        data-description="it's just my website"
        data-stack="Vanilla, Web-Components"
        data-codeurl="https://github.com/Joehl1103/personal-website/tree/master"
        data-demourl="coming soon"
      ></project-component>
      <project-component
        data-title="Coin counter"
        data-description="Track and sum excess coins to simplify accounting."
        data-stack="React, Material UI, JSON Server, Node, Vitest"
        data-codeurl="https://github.com/Joehl1103/coin-counter"
        data-demourl="false"
      ></project-component>
      <project-component
        data-title="Daily YNAB Spending"
        data-description="Visualize daily spending by category using YNAB API integration"
        data-stack="React, Material UI, YNAB SDK"
        data-codeurl="https://github.com/joehl1103/daily-spending-ynab"
        data-demourl="false"
      ></project-component>
    </ul>
  </div>
</div>
